.main-carousel {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
}

.main-carousel::after {
    content: "";
    position: absolute;
    left: 75px;
    top: 30px;
    display: block;
    height: 5px;
    width: calc(100% - 150px);
    background-color: #000000;
}

.main-carousel::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 30px;
    display: block;
    border-top: 5px dashed #000;
    width: 100%;
}

.main-carousel .button-arrow {
    position: absolute;
    bottom: 70px;
    transform: translateY(50%);;
}

.main-carousel .button-arrow.-left {
    left: 15px;
}

.main-carousel .button-arrow.-right {
    right: 15px;
}