.main-section {
    background-color: #8257e6;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #88d498;
    text-align: center;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBlack {
    background-color: #000000;
}

.main-section.-bdFirst {
    border-color: #8257e6;
}

.main-section.-bgGreen{
    background-color: #88d498;
}

.main-section.-bdBlack {
    border-bottom: 10px solid #000000;
}